/* WRITE YOUR CSS HERE */
#productLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-column-gap: 20px;
    justify-items: stretch;
    align-items: stretch
 }